@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel+Decorative:wght@400;700;900&family=Nanum+Gothic&display=swap');
@font-face {
	font-family: 'AcuminProWideBold';
	src: local('');
	src: url('https://mainblocs.github.io/fonts/AcuminProWideBold.otf?raw=true');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: 'simple';
	src: url('https://mainblocs.github.io/fonts/simple.woff2?raw=true');
	font-display: auto;
	src: local('');
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: 'commuters-sans';
	src: url('https://sherpagoods.com/cdn/shop/t/2/assets/commuters-sans.ttf');
	font-display: auto;
	src: local('');
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: 'eb';
	src: url('https://mainblocs.github.io/fonts/eb-garamond/EBGaramond08-Regular.otf?raw=true');
	font-display: auto;
	src: local('');
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: 'yoga';
	src: local('');
	src: url('https://mainblocs.github.io/fonts/yoga.woff2?raw=true');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}
@font-face {
	font-family: 'yoga-bold';
	src: local('');
	src: url('https://mainblocs.github.io/fonts/yoga-bold.woff2?raw=true');
	font-display: auto;
	font-style: normal;
	font-weight: 400;
	font-stretch: normal;
}

:root {
	--accent: #d1c9ff;
	--grey-4: whitesmoke;
	--grey-60: #6d6d6d;
	--grey-8: #ececec;
	--dark-opacity-30: rgba(12, 12, 12, 0.3);
	--dark-opacity-50: rgba(12, 12, 12, 0.5);
	--grey-35: #aaa;
	--accent-dark: #c6bef4;
	--dark-opacity-65: rgba(12, 12, 12, 0.65);
	--white-2: white;
	--black-2: black;
	--border: #eee;
	--white: #fff;
	--black: #000;
	--selectbg: #eaeaea;
	--bluebg: #2c1e4a;
	--input-highlight: #8ec4ef;
	--input-shadow: #e3f2fdd7;
	--container-width: 1800px;
	--offset-sides: 16px;
	--ease-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-cubic: cubic-bezier(0.785, 0.135, 0.15, 0.86);
	--ease-inout-quart: cubic-bezier(0.76, 0, 0.24, 1);
	--border: #eee;
	--white: #fff;
	--black: #000;
	--selectbg: #eaeaea;
	--input-highlight: #8ec4ef;
	--input-shadow: #e3f2fdd7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

.hide {
	position: absolute;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
	visibility: hidden;
}
.visible {
	visibility: visible;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeOut {
	animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
